unpackaged/main/default/flows/ARS766_BirthdayWish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Birthday_Wishes_Email</name>
        <label>Birthday Wishes Email</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <actionName>Account.Customer_Birthday_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopingAccounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopingAccounts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDay</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>TodaysMonth</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <interviewLabel>ARS766-BirthdayWish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARS766-BirthdayWish</label>
    <loops>
        <name>LoopingAccounts</name>
        <label>LoopingAccounts</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>CustomerContactEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Birthday_Wishes_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountRecords</name>
        <label>GetAccountRecords</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopingAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Birthday_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodaysDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthday_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodaysMonth</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CustomerContactEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DOB__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>EmailAddress__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountRecords</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-31</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BirthdayEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.FirstName} {!LoopingAccounts.Name}&lt;/p&gt;&lt;p&gt;May the days ahead of you be filled with prosperity, great health and above all joy in its truest and purest form. Happy birthday!&lt;/p&gt;&lt;p&gt;Sincerely wishing you the best of celebrations on this wonderful day of yours&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;ABSA Bank&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;lt; Please do not reply to this email. &amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CustomerContactEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
