unpackaged/main/default/flows/Customer_Anniversary_Wishes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Customer_Email</name>
        <label>Customer Email</label>
        <locationX>138</locationX>
        <locationY>636</locationY>
        <actionName>Account.AnniversaryWishesAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Today_s_Acc_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Today_s_Acc_Records.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>GetAccounts</name>
        <label>GetAccounts</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Today_s_Account_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Today_s_Acc_Records</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>before7</name>
        <dataType>String</dataType>
        <expression>TEXT(TODAY() - 7)</expression>
    </formulas>
    <formulas>
        <name>before7day</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY() ))</expression>
    </formulas>
    <formulas>
        <name>Before7Days</name>
        <dataType>Boolean</dataType>
        <expression>{!Record.Bank_anniversary_Day__c}= TEXT(DAY(TODAY() - 7))</expression>
    </formulas>
    <formulas>
        <name>Month_week</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>SevenDaysBefore</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY())-7)</expression>
    </formulas>
    <formulas>
        <name>TodayDay</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>TodayMonth</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <interviewLabel>Customer Anniversary Wishes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Anniversary Wishes</label>
    <loops>
        <name>Get_Today_s_Acc_Records</name>
        <label>Get Today&#39;s Acc Records</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <collectionReference>CustomerEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Customer_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Today_s_Account_Records</name>
        <label>Get Today&#39;s Account Records</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BankAnniversaryDay__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>BankAnniversaryMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayMonth</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CustomerEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bank_anniversaries__c</queriedFields>
        <queriedFields>EmailAddress__c</queriedFields>
        <queriedFields>RMEmailAddress__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Today_s_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bank_anniversaries__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-04</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
