unpackaged/main/default/flows/Happy_Birthday_Client_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendClientEmail</name>
        <label>SendClientEmail</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <actionName>Account.clientBirthdayAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AccountClient</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AccountClient.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>birthday_day</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>birthday_month</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <interviewLabel>Happy Birthday Client email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Happy Birthday Client email</label>
    <loops>
        <name>AccountClient</name>
        <label>AccountClient</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_birthdays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SendClientEmail</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all account birthdays active today</description>
        <name>Get_birthdays</name>
        <label>Get birthdays</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Birthday_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>birthday_day</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthday_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>birthday_month</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>EmailAddress__c</queriedFields>
        <queriedFields>RMEmailAddress__c</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_birthdays</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-15</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountlist1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordIdtest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>$Flow.CurrentRecord</stringValue>
        </value>
    </variables>
</Flow>
