unpackaged/main/default/flows/ID_V_Flow2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetRandomQuestions</name>
        <label>GetRandomQuestions</label>
        <locationX>321</locationX>
        <locationY>403</locationY>
        <actionName>IDVController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>ID&amp;V Flow2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ID&amp;V Flow2</label>
    <loops>
        <name>Iterate_Questions</name>
        <label>Iterate Questions</label>
        <locationX>570</locationX>
        <locationY>249</locationY>
        <collectionReference>Get_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Please_Answer_below_Questions</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>55</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetched_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_enter_Account_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>408</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IdVQuestionnaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Fetched_Account</name>
        <label>Fetched Account</label>
        <locationX>50</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetRandomQuestions</targetReference>
        </connector>
        <fields>
            <name>displayAccount</name>
            <fieldText>&lt;p&gt;{!Get_Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ID_V</name>
        <label>ID &amp; V</label>
        <locationX>58</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>Please_enter_Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Please enter Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_Answer_below_Questions</name>
        <label>Please  Answer below Questions</label>
        <locationX>758</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_Questions</targetReference>
        </connector>
        <fields>
            <name>Questions</name>
            <fieldText>&lt;p&gt;{!Iterate_Questions.Question__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Answer</name>
            <dataType>String</dataType>
            <fieldText>Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Account Not mtched&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Get_Account.Name} = {!Answer}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>166</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ID_V</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>RandomQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IdVQuestionnaire__c</objectType>
    </variables>
</Flow>
