unpackaged/main/default/flows/RMEmailFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <actionName>Account.Send_Email_when_client_birthday_is_approaching</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SendRMEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SendRMEmail.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>Send RM emails a week before the client&#39;s birthday</description>
    <formulas>
        <name>birthdaymonthRM</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>RMweekEmailDay</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY()-7))</expression>
    </formulas>
    <interviewLabel>RMEmailFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RMEmailFlow</label>
    <loops>
        <name>SendRMEmail</name>
        <label>SendRMEmail</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>RMEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SendEmail</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RMEmail</name>
        <label>RMEmail</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendRMEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Birthday_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RMweekEmailDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthday_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>birthdaymonthRM</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RMEmail</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-17</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
